.skill-box {
    padding: 1rem;
    /* cursor: pointer; */
    gap: 30px;
  }
  .skill-title:hover .img {
    transform: translateY(-10px);
  }
  .skill-title {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5 rem;
    margin-bottom: 0.5rem;
  }
  .skill-title h3 {
    color: #fff;
    padding: 0.5rem;
  }
  .skill-title::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 35px;
    right: 50%;
    height: 4px;
    border-radius: 2px 0 0 2px;
    background-color: #60f2d1;
    transition: 0.5s;
    display: none;
  }
  .skill-title::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 35px;
    left: 50%;
    height: 4px;
    border-radius: 0 2px 2px 0;
    background-color: #60f2d1;
    transition: 0.5s;
    display: none;
  }
  .skill-title::after:hover {
    display: block;
  }
  
  .img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    position: relative;
    border-radius: 45px;
    background-color: #fff;
    transition: 0.5s;
  }
  .img:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 90px;
    background: rgba(100, 100, 100, 0.5);
    border-radius: 45px 0 0 45px;
  }
  .skill-icon {
    width: 50px;
  }